html {
  font-size: 62.5%;
}
.main-container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #181818;
}

@media (max-width: 640px) {
  main {
    width: 98%;
  }
}
body {
  background-color: #181818;
  color: white;
  font-size: 1.6rem;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
